#cssmenu {
  position: relative;
  height: 44px;
  /* background: #333333; */
  background: #404040;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d4d4d), color-stop(100%, #323232));
  background-image: -webkit-linear-gradient(#4d4d4d, #323232);
  background-image: -moz-linear-gradient(#4d4d4d, #323232);
  background-image: -o-linear-gradient(#4d4d4d, #323232);
  background-image: linear-gradient(#4d4d4d, #323232);
  width: auto;
}
#cssmenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1;
}
#cssmenu > ul {
  margin-left: 60px;
  position: relative;
  display: block;
  /* background: #333333; */
  background: #404040;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d4d4d), color-stop(100%, #323232));
  background-image: -webkit-linear-gradient(#4d4d4d, #323232);
  background-image: -moz-linear-gradient(#4d4d4d, #323232);
  background-image: -o-linear-gradient(#4d4d4d, #323232);
  background-image: linear-gradient(#4d4d4d, #323232);
  height: 32px;
  /* width: 100%; */
  width: auto;
  z-index: 500;
}
#cssmenu > ul > li {
  border-left: 1px solid #616161;
  display: block;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}
#cssmenu > ul > #menu-button {
  display: none;
}
#cssmenu ul li a {
  display: block;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
}
#cssmenu > ul > li > a {
  font-size: 14px;
  /* font-weight: bold; */
  font-weight: normal;
  padding: 15px 20px;
  color: #FFFFFF;
  text-transform: uppercase;
  -webkit-transition: color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  -ms-transition: color 0.25s ease-out;
  -o-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 32px;
}
#cssmenu > ul > li:hover > a {
  color: #84D3FC;
}
#cssmenu li.has-sub::after {
  display: block;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
}
#cssmenu > ul > li.has-sub::after {
  right: 10px;
  top: 20px;
  border: 5px solid transparent;
  border-top-color: #FFFFFF;
}
#cssmenu > ul > li:hover::after {
  border-top-color: #FFFFFF;
}
#indicatorContainer {
  position: absolute;
  height: 12px;
  width: 100%;
  bottom: 0px;
  overflow: hidden;
  z-index: -1;
}
#pIndicator {
  position: absolute;
  height: 0;
  width: 100%;
  border: 12px solid transparent;
  border-top-color: #2b2f3a;
  z-index: -2;
  -webkit-transition: left .25s ease;
  -moz-transition: left .25s ease;
  -ms-transition: left .25s ease;
  -o-transition: left .25s ease;
  transition: left .25s ease;
}
#cIndicator {
  position: absolute;
  height: 0;
  width: 100%;
  border: 12px solid transparent;
  border-top-color: #2b2f3a;
  top: -12px;
  right: 100%;
  z-index: -2;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
  top: 70px;
  opacity: 0;
  -webkit-transition: opacity .3s ease, top .25s ease;
  -moz-transition: opacity .3s ease, top .25s ease;
  -ms-transition: opacity .3s ease, top .25s ease;
  -o-transition: opacity .3s ease, top .25s ease;
  transition: opacity .3s ease, top .25s ease;
  z-index: 1000;
}
#cssmenu ul ul ul {
  top: 37px;
  padding-left: 5px;
}
#cssmenu ul ul li {
  position: relative;
}
#cssmenu > ul > li:hover > ul {
  left: auto;
  top: 44px;
  opacity: 1;
}
#cssmenu ul ul li:hover > ul {
  left: 170px;
  top: 0;
  opacity: 1;
}
#cssmenu ul ul li a {
  width: 130px;
  border-bottom: 1px solid #eee;
  padding: 10px 20px;
  font-size: 12px;
  color: #FFFFFF;
  background: #333333;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -ms-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
}
#cssmenu ul ul li:hover > a {
  background: #202020;
  color: #84D3FC;
}
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last > a {
  border-bottom: 0;
}
.submenuArrow {
  border: 6px solid transparent;
  width: 0;
  height: 0;
  border-bottom-color: #fff;
  position: absolute;
  top: -12px;
}
#cssmenu ul ul li.has-sub::after {
  border: 4px solid transparent;
  border-left-color: #FFFFFF;
  right: 10px;
  top: 12px;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transition: -webkit-transform 0.2s ease, right 0.2s ease;
}
#cssmenu ul ul li.has-sub:hover::after {
  border-left-color: #fff;
  right: -5px;
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
#cssmenu > ul > li.last {
  border-right: 1px solid #616161;
}

p {
  margin-bottom: 1.5em; 
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: normal;
  color: black;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #004a70; 
}

body {
  background: #FFFFFF;
  /* background: #F7F7F7; */
}

.site-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  clear: none; 
}

.site-title a {
    position: relative;
    display: block;
    text-indent: -9999px;
    margin-left: 18px; 
}

.site-title a img {
      float: left;
      padding: 14px 0;
      display: block;
      border: 0;
      margin-left:40px;
}

.site-title a p {
      font-size: 15px;
      color: #6c6c6c;
      font-weight: normal;
      float: left;
      text-indent: 0;
      margin-bottom: 0;
      padding: 16px 0 0 14px; 
}

.banner {
  background: #DBE6EC;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e0ebf1), color-stop(100%, #d7e1e7));
  background-image: -webkit-linear-gradient(#e0ebf1, #d7e1e7);
  background-image: -moz-linear-gradient(#e0ebf1, #d7e1e7);
  background-image: -o-linear-gradient(#e0ebf1, #d7e1e7);
  background-image: linear-gradient(#e0ebf1, #d7e1e7);
  /* padding: 40px 0; */
  /* padding: 30px 0; */
  padding: 1px 0px;    /* JW */ 
  min-height: 60px;
}

.page-margin {
  margin-top: 0px;
  margin-left: 40px;
  background: #FFFFFF;
}

.page-body {
  margin-top: 0px;
  margin-left: 20px;
  background: #FFFFFF;
}

.page-title {
  padding-left: 60px;
  margin-top: 10px;
  margin-bottom: 16px;
  color: #004a70;
  font-weight: normal;
  font-size: 36px;
  font-family: "Arial"; 
}
