<BR>
<h3>DP5 SDK is compatible with FW6 devices only:</h3>

<ul>
  <li> DP5 OEM Digital Pulse Processor &amp; MCA </li>
  <li> DP5G OEM Digital Pulse Processor for Scintillators and PMTs </li>
  <li> X-123 Complete X-Ray Spectrometer with Si-PIN Detector </li>
  <li> X-123SDD Complete X-Ray Spectrometer with Silicon Drift Detector (SDD) </li>
  <li> X-123CdTe Complete X-Ray &amp; Gamma Ray Spectrometer </li>
  <li> PX5 DPP MCA and Power Supply </li>
  <li> PX5-HPGe DPP MCA and Power Supply for HPGe Detectors &amp; Preamps </li>
  <li> GAMMA-RAD5 Gamma Ray Detection System </li>
  <li> TB-5 Digital Tube Base for Scintillator and PMT </li>
  <li> MCA-8000D Digital Multichannel Analyzer </li>
  <li> MCA-8000D Option PA for Airborne and Suspended Particle Applications </li>
</ul>
